.container-center{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C2ECBF;
    padding: 0 12px;
  }
  
  .login{
    background-color: #C2ECBF;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .login-area{
    background-color: #0D450C;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
  }
  
  .login-area img{
    width: 200px;
    height: 200px;
  }
  
  form{
    margin-top: 1.5rem;
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  
  form h1{
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .login input{
    margin-bottom: 1rem;
    height: 35px;
    border-radius: 4px;
    border:0;
    padding: 10px;
    font-size: 15px;
    background-color: #FFF;
  }
  
  form button{
    height: 35px;
    border:0;
    border-radius: 4px;
    background-color: #0D450C;
    color: #FFF;
    font-size: 1.3rem;
  }
  
  .login a{
    margin: 1.5rem 0;
    color: #0D450C;
    cursor: pointer;
  }

.title-entrar{
    color: #0D450C;
}